@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header{
    background-color: #F5F7FA;
    display: flex;
    justify-content: space-between;
    height: 10vh;
    border-bottom: 4px solid #2ECC71;
    position: fixed;
    width: 100%;
}

.logo{
    display: flex;
    height: 100%;
}

.textos-nav{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15%;
  width: 50%;
  margin-left: 2%;
}

a{
    text-decoration: none;
    color: #000000;
}

.botao-nav {
    display: flex;
    gap: 10%;
    align-items: center;
    justify-content: center;
    margin-right: 2%;
}

.botao-nav button {
    
    font-size: 14px;
    font-weight: 600;
    border-radius: 3vh;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 6vw;
    height: 50%;
}


.btn-entrar {
    background-color: #ffffff;
    color: #2ECC71;
    border: 2px solid #2ECC71;
}

.btn-entrar:hover {
    background-color: #efefef;
    
}


.btn-planos {
    background-color: #2ECC71;
    color: #ffffff;
    border: 2px solid #2ECC71;
}

.btn-planos:hover {
    background-color: #27AE60; 
    border-color: #27AE60;
}

main{
    background-image: url("../assets/SEMBG/bgdopharma.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 62vh;
    border-bottom: 4px solid #2ECC71;
}

.texto-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
    padding: 3%;
    
}

h1{
    color: #2ECC71;
    font-size: 3rem;
}

.sub-main{
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
}

.solucoes{
    background-color: #F5F7FA;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
}

.textos-solucoes{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 5%;
    padding: 3%;
}

.sub-sol{
    color: #2ECC71;
    font-size: 1.5rem;
    font-weight: 400;
}

.cards{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 60%;
    margin-top: 5%;
}

.card{
    display: flex;
    background-color: #ffffff;
    border: 3px solid #2ECC71;
    border-radius: 9%;
    width: 20%;
    flex-direction: column;
    height: 100%;
}

.img-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40%;
    padding: 15%;
}
.texto-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 65%;
}

.img-card img{
    width: 50%;
    padding: 5%;
}

.titulo-card{
    align-self: center;
    align-content: center;
    color: #000000;
    font-size: 1.5rem;
}
.sub-card{
    align-self: center;
    align-content: center;
    color: #2ECC71;
    height: 50%;
    text-align: center;
}