@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    background-color: #F5F7FA;
    display: flex;
    justify-content: space-between;
    height: 10vh;
    border-bottom: 4px solid #2ECC71;
    position: fixed;
    width: 100%;
    top: 0;
}

.logo {
    display: flex;
    height: 100%;
}

.textos-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;
    width: 50%;
    margin-left: 2%;
}

a {
    text-decoration: none;
    color: #000000;
}

.botao-nav {
    display: flex;
    gap: 10%;
    align-items: center;
    justify-content: center;
    margin-right: 2%;
}

.botao-nav button {

    font-size: 14px;
    font-weight: 600;
    border-radius: 3vh;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 6vw;
    height: 50%;
}


.btn-entrar {
    background-color: #ffffff;
    color: #2ECC71;
    border: 2px solid #2ECC71;
}

.btn-entrar:hover {
    background-color: #efefef;

}


.btn-planos {
    background-color: #2ECC71;
    color: #ffffff;
    border: 2px solid #2ECC71;
}

.btn-planos:hover {
    background-color: #27AE60;
    border-color: #27AE60;
}

main {
    background-image: url("../assets/SEMBG/bgdopharma.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 62vh;
    border-bottom: 4px solid #2ECC71;
    margin-top: 10vh;
}

.texto-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
    padding: 3%;

}

h1 {
    color: #2ECC71;
    font-size: 3rem;
}

.sub-main {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
}

.solucoes {
    background-color: #F5F7FA;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
}

.textos-solucoes {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 5%;
    padding: 3%;
}

.sub-sol {
    color: #2ECC71;
    font-size: 1.5rem;
    font-weight: 400;
}

.cards {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 60%;
    margin-top: 5%;
}

.card {
    display: flex;
    background-color: #ffffff;
    border: 3px solid #2ECC71;
    border-radius: 9%;
    width: 20%;
    flex-direction: column;
    height: 100%;
}

.img-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40%;
    padding: 15%;
}

.texto-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 65%;
}

.img-card img {
    width: 50%;
    padding: 5%;
}

.titulo-card {
    align-self: center;
    align-content: center;
    color: #000000;
    font-size: 1.5rem;
}

.sub-card {
    align-self: center;
    align-content: center;
    color: #2ECC71;
    height: 50%;
    text-align: center;
}


.sobre {
    background-color: #2ECC71;
    padding: 0% 4% 0% 4%;
    color: #ffffff;
    height: 100vh;
}

.sobre-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}


.sobre-texto {
    width: 45%;
}

.sobre-texto h2 {
    font-size: 2.2rem;
    margin-bottom: 1%;
}

.subtitulo-sobre {
    font-size: 0.9rem;
    opacity: 0.9;
    display: block;
    margin-bottom: 4%;
}

.sobre-texto p {
    font-size: 0.95rem;
    line-height: 1.7;
    margin-bottom: 3%;
}


.divisor-sobre {
    width: 2px;
    height: 380px;
    background-color: rgba(255, 255, 255, 0.6);
}

.sobre-equipe {
    width: 45%;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobre-equipe h2 {
    font-size: 2rem;
    margin-bottom: 6%;
}

.foto-container {
    display: flex;
    width: 50%;
}

.foto-container img {
    width: 100%;
    height: 100%;

}

.sobre-equipe h3 {
    font-size: 1.3rem;
    margin-bottom: 1%;
    margin-top: 10%;
}

.cargo {
    font-size: 0.8rem;
    letter-spacing: 1px;
    opacity: 0.9;
}


.linkedin {
    width: 30px;
}

.linkedin img {
    width: 30px;
    margin-top: 2vh;
}


footer {
    background-color: #F5F7FA;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 30vh;
    padding: 1% 4%;
}

.footer-logo img {
        display: flex;
        justify-content: center;
        width: 60%;
}

.footer-centro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}

.footer-centro p {
    font-size: 0.8rem;
    color: #000000;
}

.footer-redes {
    display: flex;
    gap: 15px;
}

.footer-redes img {
    width: 20px;
}

.footer-links {
    display: flex;
    gap: 20px;
}

.footer-links a {
    font-size: 0.8rem;
    color: #000000;
}
